p {
    color: green !important;
    font-size: 20px;
    text-align: center;
}

head{
  text-align: center;
}

body{
  text-align: center;
  background-color:blue;

}

ul{
  text-align: center;

}

h1{
    text-align: center;
    text-decoration-color: blue;
    background-color:blue;
}
