p {
    color: green !important;
    font-size: 20px;
    text-align: center;
}

head{
  text-align: center;
  text-color: white;
}

body{
  text-align: center;
  background-color:yellow;

}

ul{
  text-align: left;
  font-size: 20
}

h1{
    text-align: center;
    text-color: white;

    background-color:green;
    font-family: cursive;

}
